{% extends "@FerienpassAdmin/layout/base.html.twig" %}
{% import "@FerienpassAdmin/components/content_elements.html.twig" as partials %}

{% block main %}

    <div>
        {{ partials.h1('Hi ' ~ app.user.firstname ~ '!') }}
    </div>

    <div class="mt-6">
    {% for widget in widgets %}
        {{ render(controller(widget)) }}
    {% endfor %}
    </div>

{% endblock %}
