{% trans_default_domain 'admin' %}

<div class="divide-y divide-gray-300 dark:divide-gray-700">

    <div class="flex justify-between py-4">
        <div>
            {% block head_before %}{% endblock %}
        </div>
        <div class="flex items-center space-x-2">
            {% if pagination is defined %}
                <p class="hidden sm:block text-xs text-gray-500">
                    <span class="font-medium">{{ pagination.numResults }}</span> Elemente
                </p>
            {% endif %}
            {% if filter is defined %}
                {% include '@FerienpassAdmin/components/_list_filter.html.twig' with filter %}
            {% endif %}
        </div>
    </div>

    {% if config.layout|default('table') == 'table' and config.columns is defined %}
        {% include '@FerienpassAdmin/components/_list.table.html.twig' with config %}
    {% else %}
        {% include '@FerienpassAdmin/components/_list.html.twig' with config|default([]) %}
    {% endif %}

</div>

{% if pagination is defined %}
    <div class="py-10">
        {% include '@FerienpassAdmin/components/_pagination.html.twig' %}
    </div>
{% endif %}
